@()
<html>

    <head>
        <title>  Library Management System Menu  </title>
    </head>

    <header>
        <h2> Select an option </h2>
    </header>

    <body class="menu">

        <input name="option1" type="button" value="ADD LIBRARY ITEM"> <br><br>
        <input name="option2" type="button" value="BORROW LIBRARY ITEM"> <br><br>
        <input name="option3" type="button" value="RETURN LIBRARY ITEM"> <br><br>
        <input name="option4" type="button" value="DELETE LIBRARY ITEM"> <br><br>
        <input name="option5" type="button" value="DISPLAY LIBRARY ITEM">

    </body>

</html>